# © 2016 and later: Unicode, Inc. and others.
# License & terms of use: http://www.unicode.org/copyright.html

/src/icu
/tmp
/dist
*.fail
*.out
*.log
/local
src/tmp
/Makefile.local
/local-*
/src/bin/cov-analysis-linux64*
/src/bin/local-coverity.sh
